<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base href="/"/>
    <meta name="viewport"
          content="width=device-width, users-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Roza | Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="w-25 mx-auto" style="margin-top:30px">
    <form id="theForm" action="/users/confirmregistration" method="post">
        <div>
            <small class="form-text text-muted">
                Password must be at least 8 characters long, contain at least one special character !@#$%^&*()_+,
                at least one uppercase letter and at least one digit.
            </small>
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" value="" class="form-control" required>
        </div>
        <div id="confirmPasswordDiv" class="form-group">
            <label for="confirmPassword">Confirm Password:</label>
            <input id="confirmPassword" type="password" name="confirmPassword" value="" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="secretQuestion">Secret Question:</label>
            <select id="secretQuestion" name="secretQuestion" class="form-control" required>
                <option value="cityBorn">In what city were you born?</option>
                <option value="firstPet">What was your first pet?</option>
                <option value="childhoodNickName">What was your childhood nickname?</option>
                <option value="firstCar">What was the model of your first car?</option>
                <option value="mothersMaidenName">What is your mother's maiden name?</option>
                <option value="fathersMiddleName">What was your father's middle name?</option>
            </select>
        </div>
        <div id="secretAnswerDiv" class="form-group">
            <label for="secretAnswer">Secret Answer:</label>
            <input id="secretAnswer" type="text" name="secretAnswer" value="" class="form-control" required>
        </div>
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript" th:src="@{js/register.js}"></script>
</html>