<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Roza | Reset Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="w-25 mx-auto" style="margin-top:200px">
    <div class="form-group">
        <small class="form-text text-muted">
            Please enter your email and we will send a link to your email for resetting your password.
        </small>
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" class="form-control" required>
    </div>
    <div class="row">
        <div class="col text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>
</body>
</html>