<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <base href="/"/>
    <meta name="viewport"
          content="width=device-width, users-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Roza | Verify Token</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container" style="margin-top:30px">
    <div class="row align-items-center d-flex justify-content-center">
        <form id="theForm" action="/users/verifytoken/" method="post">
            <div id="tokenDiv" class="form-group">
                <label for="token">Verification token:</label>
                <input id="token" type="text" name="token" value="" class="form-control" style="width:300px">
            </div>
            <div class="row">
                <div class="col text-center">
                    <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
